.form-control::placeholder {
  color: gray;
  opacity: 1;
}
.searchButton {
  margin-top: 0.8rem;
}

@media all and (min-width: 1400px) {
  .searchButton {
    margin-top: 1.42rem;
    margin-left: -0.6rem;
  }
}
